@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: rgb(215, 215, 215);
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-green-900;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: green;
}
input[type="range"] {
  overflow: hidden;
  width: 140px;
  border: 2px solid black;
  border-radius: 5px;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  border-radius: 10px;
  color: #13bba4;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  height: 25px;
  -webkit-appearance: none;

  cursor: ew-resize;
  background: dimgray;
  box-shadow: -80px 0 0 80px green;
}
